*{
    padding: 0;
    margin: 0;
}
body{
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 100px;
    height: 20px;
}
/* Calculator styling*/
#container{
    width: 50%;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
#calculator{
    border: 20px double black;
    border-radius: 10px;
    width: 200px;
    height: 50%;
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#display{
    width: 80%;
    height: 50px;
    margin: 5px;
    padding: 5px;
    border: 5px solid green;
    border-radius: 5px;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#button-grid{
    width: 80%;
    height: auto;
    padding: 5px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px;
}
#button-grid .function{
    background-color: orange;
}
#button-grid button:hover{
    border: 3px green solid;
    background-color: aqua;
}